<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bingo Free!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/css/normalize.css" />
    <link rel="stylesheet" href="../public/css/style.css" />
</head>

<body>
    <div class="top_bar">
        <div class="top_container">
            <div class="bingo_title">
                <h1 class="main_title">bingo<span class="logo_call">free!</span></h1>
            </div>
            <div class="nav_buttons">
                <button class="new_button" id="new_button">New Game</button>
            </div>
        </div>
    </div>
    <div class="main_display">
        <div class="show_text">
            <div class="current_number">
                <p class="current_text">Current</p>
                <div class="current_num">
                    <h1 class="current_num_text" id="current_num_text">B13</h1>
                </div>
            </div>
            <div class="last_five">
                <p class="last_five_text">Last 5 Numbers</p>
                <div class="last_five_num">
                    <h1 class="last_five_int">G47 N32 B2 O68 B4</h1>
                </div>
            </div>
            <div class="total_calls">
                <p class="total_of">Total Calls<span id="total_number"></span></p>
                <div class="total_num">
                    <h1 class="total_call_num">6</h1>
                </div>
            </div>
        </div>
        <div class="number_rows">
            <div class="b_numbers ball_row">
                <div class="outer_ball" id="b_ball">
                    <div class="letter_b inner_ball">
                        <h1 class="b_text ball_text">B</h1>
                    </div>
                </div>
                <div class="ball_number" id="1">
                    <h1 class="ball_text">1</h1>
                </div>
                <div class="ball_number" id="2">
                    <h1 class="ball_text">2</h1>
                </div>
                <div class="ball_number" id="3">
                    <h1 class="ball_text">3</h1>
                </div>
                <div class="ball_number" id="4">
                    <h1 class="ball_text">4</h1>
                </div>
                <div class="ball_number" id="5">
                    <h1 class="ball_text">5</h1>
                </div>
                <div class="ball_number" id="6">
                    <h1 class="ball_text">6</h1>
                </div>
                <div class="ball_number" id="7">
                    <h1 class="ball_text">7</h1>
                </div>
                <div class="ball_number" id="8">
                    <h1 class="ball_text">8</h1>
                </div>
                <div class="ball_number" id="9">
                    <h1 class="ball_text">9</h1>
                </div>
                <div class="ball_number" id="10">
                    <h1 class="ball_text">10</h1>
                </div>
                <div class="ball_number" id="11">
                    <h1 class="ball_text">11</h1>
                </div>
                <div class="ball_number" id="12">
                    <h1 class="ball_text">12</h1>
                </div>
                <div class="ball_number" id="13">
                    <h1 class="ball_text">13</h1>
                </div>
                <div class="ball_number" id="14">
                    <h1 class="ball_text">14</h1>
                </div>
                <div class="ball_number" id="15">
                    <h1 class="ball_text">15</h1>
                </div>
            </div>
            <div class="i_numbers ball_row">
                <div class="outer_ball" id="i_ball">
                    <div class="letter_i inner_ball">
                        <h1 class="i_text ball_text">I</h1>
                    </div>
                </div>
                <div class="ball_number" id="16">
                    <h1 class="ball_text">16</h1>
                </div>
                <div class="ball_number" id="17">
                    <h1 class="ball_text">17</h1>
                </div>
                <div class="ball_number" id="18">
                    <h1 class="ball_text">18</h1>
                </div>
                <div class="ball_number" id="19">
                    <h1 class="ball_text">19</h1>
                </div>
                <div class="ball_number" id="20">
                    <h1 class="ball_text">20</h1>
                </div>
                <div class="ball_number" id="21">
                    <h1 class="ball_text">21</h1>
                </div>
                <div class="ball_number" id="22">
                    <h1 class="ball_text">22</h1>
                </div>
                <div class="ball_number" id="23">
                    <h1 class="ball_text">23</h1>
                </div>
                <div class="ball_number" id="24">
                    <h1 class="ball_text">24</h1>
                </div>
                <div class="ball_number" id="25">
                    <h1 class="ball_text">25</h1>
                </div>
                <div class="ball_number" id="26">
                    <h1 class="ball_text">26</h1>
                </div>
                <div class="ball_number" id="27">
                    <h1 class="ball_text">27</h1>
                </div>
                <div class="ball_number" id="28">
                    <h1 class="ball_text">28</h1>
                </div>
                <div class="ball_number" id="29">
                    <h1 class="ball_text">29</h1>
                </div>
                <div class="ball_number" id="30">
                    <h1 class="ball_text">30</h1>
                </div>
            </div>
            <div class="n_numbers ball_row">
                <div class="outer_ball" id="n_ball">
                    <div class="letter_n inner_ball">
                        <h1 class="n_text ball_text">N</h1>
                    </div>
                </div>
                <div class="ball_number" id="31">
                    <h1 class="ball_text">31</h1>
                </div>
                <div class="ball_number" id="32">
                    <h1 class="ball_text">32</h1>
                </div>
                <div class="ball_number" id="33">
                    <h1 class="ball_text">33</h1>
                </div>
                <div class="ball_number" id="34">
                    <h1 class="ball_text">34</h1>
                </div>
                <div class="ball_number" id="35">
                    <h1 class="ball_text">35</h1>
                </div>
                <div class="ball_number" id="36">
                    <h1 class="ball_text">36</h1>
                </div>
                <div class="ball_number" id="37">
                    <h1 class="ball_text">37</h1>
                </div>
                <div class="ball_number" id="38">
                    <h1 class="ball_text">38</h1>
                </div>
                <div class="ball_number" id="39">
                    <h1 class="ball_text">39</h1>
                </div>
                <div class="ball_number" id="40">
                    <h1 class="ball_text">40</h1>
                </div>
                <div class="ball_number" id="41">
                    <h1 class="ball_text">41</h1>
                </div>
                <div class="ball_number" id="42">
                    <h1 class="ball_text">42</h1>
                </div>
                <div class="ball_number" id="43">
                    <h1 class="ball_text">43</h1>
                </div>
                <div class="ball_number" id="44">
                    <h1 class="ball_text">44</h1>
                </div>
                <div class="ball_number" id="45">
                    <h1 class="ball_text">45</h1>
                </div>
            </div>
            <div class="g_numbers ball_row">
                <div class="outer_ball" id="g_ball">
                    <div class="letter_g inner_ball">
                        <h1 class="g_text ball_text">G</h1>
                    </div>
                </div>
                <div class="ball_number" id="46">
                    <h1 class="ball_text">46</h1>
                </div>
                <div class="ball_number" id="47">
                    <h1 class="ball_text">47</h1>
                </div>
                <div class="ball_number" id="48">
                    <h1 class="ball_text">48</h1>
                </div>
                <div class="ball_number" id="49">
                    <h1 class="ball_text">49</h1>
                </div>
                <div class="ball_number" id="50">
                    <h1 class="ball_text">50</h1>
                </div>
                <div class="ball_number" id="51">
                    <h1 class="ball_text">51</h1>
                </div>
                <div class="ball_number" id="52">
                    <h1 class="ball_text">52</h1>
                </div>
                <div class="ball_number" id="53">
                    <h1 class="ball_text">53</h1>
                </div>
                <div class="ball_number" id="54">
                    <h1 class="ball_text">54</h1>
                </div>
                <div class="ball_number" id="55">
                    <h1 class="ball_text">55</h1>
                </div>
                <div class="ball_number" id="56">
                    <h1 class="ball_text">56</h1>
                </div>
                <div class="ball_number" id="57">
                    <h1 class="ball_text">57</h1>
                </div>
                <div class="ball_number" id="58">
                    <h1 class="ball_text">58</h1>
                </div>
                <div class="ball_number" id="59">
                    <h1 class="ball_text">59</h1>
                </div>
                <div class="ball_number" id="60">
                    <h1 class="ball_text">60</h1>
                </div>
            </div>
            <div class="o_numbers ball_row">
                <div class="outer_ball" id="o_ball">
                    <div class="letter_o inner_ball">
                        <h1 class="o_text ball_text">O</h1>
                    </div>
                </div>
                <div class="ball_number" id="61">
                    <h1 class="ball_text">61</h1>
                </div>
                <div class="ball_number" id="62">
                    <h1 class="ball_text">62</h1>
                </div>
                <div class="ball_number" id="63">
                    <h1 class="ball_text">63</h1>
                </div>
                <div class="ball_number" id="64">
                    <h1 class="ball_text">64</h1>
                </div>
                <div class="ball_number" id="65">
                    <h1 class="ball_text">65</h1>
                </div>
                <div class="ball_number" id="66">
                    <h1 class="ball_text">66</h1>
                </div>
                <div class="ball_number" id="67">
                    <h1 class="ball_text">67</h1>
                </div>
                <div class="ball_number" id="68">
                    <h1 class="ball_text">68</h1>
                </div>
                <div class="ball_number" id="69">
                    <h1 class="ball_text">69</h1>
                </div>
                <div class="ball_number" id="70">
                    <h1 class="ball_text">70</h1>
                </div>
                <div class="ball_number" id="71">
                    <h1 class="ball_text">71</h1>
                </div>
                <div class="ball_number" id="72">
                    <h1 class="ball_text">72</h1>
                </div>
                <div class="ball_number" id="73">
                    <h1 class="ball_text">73</h1>
                </div>
                <div class="ball_number" id="74">
                    <h1 class="ball_text">74</h1>
                </div>
                <div class="ball_number" id="75">
                    <h1 class="ball_text">75</h1>
                </div>
            </div>
        </div>
        <div class="bottom_btn">
            <div class="draw_btn">
                <button class="draw_one" id="draw_one">Draw One</button>
            </div>
        </div>
    </div>
    <div class="bottom_footer">
        <div class="disclaimer">
            <p class="disc_text">For entertainment purposes only.</p>
        </div>
        <div class="copy_text">
            <p class="copyright">
                &copy; 2022
                <a href="http://www.timb.codes" class="link_to_page">{timb.<span class="logo_callout">codes</span>}</a
          >
        </p>
      </div>
    </div>
  </body>
</html>