<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bingo Free!</title>
    <link rel="stylesheet" href="../public/css/normalize.css" />
    <link rel="stylesheet" href="../public/css/main_style.css" />
</head>

<body>
    <div class="top_bar">
        <div class="last_five"></div>
        <div class="current_number"></div>
        <div class="nav_buttons"></div>
    </div>

    <div class="main_display">
        <div class="letter_b"></div>
        <div class="b_numbers"></div>
        <div class="letter_i"></div>
        <div class="i_numbers"></div>
        <div class="letter_n"></div>
        <div class="n_numbers"></div>
        <div class="letter_g"></div>
        <div class="g_numbers"></div>
        <div class="letter_o"></div>
        <div class="o_numbers"></div>
    </div>

    <div class="bottom_btn">
        <div class="draw_btn"></div>
    </div>

    <div class="logo"></div>
</body>

</html>